* {
  margin: 0px;
  padding: 0px;
  font-family: "Nunito";
  color: #222222;
  box-sizing: border-box;
  /* respeita as outras tengs ex: 60px +  width: 100px;*/
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

/* header  */

header {
  background: url(../img/Paisagem-1.jpg);
  background-color: #222222;
  background-size: cover;
  height: 100vh;
}
header nav {
  background-color: #222222;
  padding: 0 10px;
}
.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  max-width: 900px;
  margin: 0 auto;
}
.info ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.info ul li {
  display: block;
  overflow: hidden;
  font-size: 15px;
  animation: transele-tb 2s ease-in-out;
}

@keyframes transele-tb {
  0% {
    opacity: 0;
    transform: translateY(-100vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.info ul li::after {
  content: " ";
  display: block;
  height: 3px;
}
.info ul li:hover::after {
  background-color: blue;
  animation: borda 0.6s ease-in-out;
}
@keyframes borda {
  0% {
    opacity: 0;
    translate: -100vw 0;
  }
  100% {
    opacity: 1;
    translate: 0 0;
  }
}
.info ul a {
  color: #cdcdcd;
  text-transform: capitalize;
}
.logo {
  text-align: center;
  color: #cdcdcd;
  animation: transele-ed 2s ease-in-out;
}
.introducao {
  max-width: 900px;
  margin: 0 auto;
  height: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.introducao div {
  width: 400px;
  animation: transele-ed 2s ease-in-out;
  padding: 0 10px;
}
@keyframes transele-ed {
  0% {
    opacity: 0;
    translate: -100vw 0;
  }
  100% {
    opacity: 1;
    translate: 0 0;
  }
}
.introducao div h1 {
  color: #cdcdcd;
}
.introducao div p {
  line-height: 1.4em;
  text-align: justify;
  font-size: 14px;
  color: #cdcdcd;
}

/* sobre */

.sobre {
  background-color: #222222;
  min-height: 100vh;
}
.sobre h1 {
  padding: 10px;
}
.conteiner-sobre {
  max-width: 900px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.conteiner-sobre div {
  flex: 1 1 310px;
  height: 300px;
  padding: 30px;
  animation-timeline: view();
animation-range: cover 0% cover 30%;
}
.conteiner-sobre > div p,
.conteiner-sobre > div h2,
.conteiner-sobre > div span {
  display: block;
}
.conteiner-sobre > div p {
  color: aliceblue;
  font-size: 14px;
}
.sobre-item-1-4 {
  background-color: #363636;
}
.sobre-item-1-4 span {
  margin: 5px 0 20px 0;
  color: blue;
}
.sobre-item-1-4 span::after {
  content: " ";
  display: block;
  width: 100px;
  height: 2px;
  background-color: blue;
  margin-top: 20px;
}
.sobre-item-1-4 h2 {
  color: aliceblue;
}
.sobre-item-2-3 {
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sobre-item-2-3 > div {
  width: 100px;
  height: 60%;
  flex-shrink: 0;
  flex-grow: 0;
}
.sobre-item-2-3 > div h2 {
  color: aliceblue;
}
.sobre-item-2-3 > div span {
  color: aliceblue;
  margin: 5px;
}
.sobre-item-2-3 > div span::after {
  content: " ";
  display: block;
  width: 100px;
  height: 3px;
  background-color: blue;
}
.sobre-item1 {
animation: rolagem-d 10s ease-in-out;
}
.sobre-item2 {
  background-image: url(../img/paisagem-2.jpg);
  border-right: 2px solid blue;
  animation: rolagem-e 10s ease-in-out;
}
.sobre-item3 {
  background-image: url(../img/paisagem-3.jpg);
  background-position: bottom;
  border-left: 2px solid blue;
  animation: rolagem-d 10s ease-in-out;
}
.sobre-item4 {
  animation: rolagem-e 10s ease-in-out;
}
@keyframes rolagem-d {
from {
  opacity: 0;
  translate: -100vw 0;
}

to {
  opacity: 1;
  translate: 0 0;
}
}
@keyframes rolagem-e {
from {
  opacity: 0;
  translate: 200vw 0;
}

to {
  opacity: 1;
  translate: 0 0;
}

}

/* curso  */

.plano {
  background-image: url(../img/paisagem-4.jpg);
  min-height: 500px;
}
.plano img {
    display: block;
    max-width: 50px;
}
.conteiner-plano {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 900px;
  margin: 0 auto;
  min-height: 500px;
}
.conteiner-plano > div {
  width: 160px;
  border-radius: 5px;
  padding: 20px 20px 0 20px;
  margin: 10px;
  background-color: #363636;
  box-shadow: 7px 5px 20px 0px rgba(0, 0, 0, 0.304);
}
.conteiner-plano > div:hover {
  transition: 1s;
  opacity: 0.7;
}
.conteiner-plano div h2 {
  color: aliceblue;
  text-transform: capitalize;
  text-align: center;
}
.conteiner-plano div span {
  color: aliceblue;
  font-style: italic;
  text-align: center;
  display: block;
  font-size: 1.3em;
}
.conteiner-plano div li {
  color: aliceblue;
  margin: 10px;
}
.conteiner-plano div li::after {
  content: " " ;
  display: block;
  width: 70px;
  height: 3px;
  background-color: blue;
  margin-top: 10px;
}
.conteiner-plano div a {
  background-color: blue;
  display: block;
  margin: 0 -20px ;
  text-align: center;
  text-transform: capitalize;
  padding: 10px;
  border-radius: 0 0 5px 5px ;
}

/* curso */

.curso {
  background-color: #363636;
}
.conteiner-curso {
  padding: 20px 0;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.conteiner-curso > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  height: 400px;
  margin: 20px;
  padding: 30px ;
  font-size: 14px;
  background-color: #525252;
  border-left: 3px solid blue;
}
.conteiner-curso > div:hover {
  background-color: blue;
  transition: 2s;
}
.conteiner-curso div img{
  width: 70px;
  height: 70px;
  padding: 10px;
}
.conteiner-curso div h2{
  color: aliceblue;

}
.conteiner-curso div p{
  color: aliceblue;
  margin-top: 20px;
  line-height: 1.4em;
}

footer {
  background-color: #363636;
  padding: 30px;
  text-align: center;
  border-top: 3px solid blue;
}
footer h1, footer p {
  color: aliceblue;
}

